.chatbox{
    width: 300px;
    height: 400px;
    background-color: pink;
    float: left;
    position: fixed;
    bottom: 0 ;
    right: -300px;

}

#close{
    height: 80px;
    width: 80px;
    float: left;
    background-color: hotpink;
    margin-left: -80px;
}